* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1rem;
}
input {
    border: none;
    border-radius: 20px;
    width: 20%;
    padding: 0.5% 1%;
}
label {
    font-size: 1.2rem;
    text-align: center;
}
header {
    text-align: center;
}
.all {
    background-color: #D9D9D9;
    margin: 30px 10% 0 10%;
    border-radius: 50px;
}
.inquiry {
    padding-top: 5px;
    font-weight: bold;
}
form {
    padding: 0 0 20% 20%;
}
form div {
    padding: 2% 0;
}
/* 必須マーク */
.required {
    color: red;
}
.name {
    display: grid;
}
.name label {
    text-align: left;
    padding-bottom: 10px;
}
.name input {
    padding: 8px;
}
.furigana {
    display: grid;
}
.furigana input {
    padding: 8px;
}
.furigana label {
    text-align: left;
    padding-bottom: 10px;
}
.birthday select {
    text-align: center;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    border: none;
}

.tel-number {
    display: grid;
}
.tel-number label {
    text-align-last: left;
    padding-bottom: 10px;
}
.tel-number input {
    padding: 8px;
}

.mail {
    display: grid;
}
.mail input {
    padding: 8px;
}
.mail label {
    text-align-last: left;
    padding-bottom: 10px;
}
.Schedule select {
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border: none;
}
#termsofservice {
    border: none;
    width: 30px;
    height: 20px;
}
#privacypolicy {
    border: none;
    width: 30px;
    height: 20px;
}
.submit-button {
    padding-top: 30px;
}
.submit-button input {
    background-color: #009D5B;
    margin: 0 30%;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 450;
    width: 20%;
}


