* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1rem;
}
input {
    border: none;
    border-radius: 20px;
    width: 20%;
    padding: 0.5% 1%;
}
label {
    font-size: 1.2rem;
    text-align: center;
}
.all {
    background-color: #D9D9D9;
    margin: 30px 10% 0 10%;
    border-radius: 50px;
}
header {
    padding: 50px 0 20px 20%;
}
.inquiry {
    padding-top: 5px;
    font-weight: bold;
}
form {
    padding: 0 0 20% 20%;
}
form div {
    padding: 2% 0;
}
/* 必須マーク */
.required {
    color: red;
}
.name label {
    margin-left: 20px;
}
.name input {
    margin-left: 20px;
}
.birthday select {
    margin-left: 20px;
}
.mail label {
    padding-right: 10px;
}
.birthday select {
    border-radius: 10px;
    width: 50px;
    height: 30px;
    border: none;
}
.Schedule select {
    border-radius: 10px;
    width: 200px;
    height: 30px;
    border: none;
}
#termsofservice {
    border: none;
    width: 30px;
    height: 20px;
}
#privacypolicy {
    border: none;
    width: 30px;
    height: 20px;
}
.submit-button {
    padding-top: 50px;
}
.submit-button span {
    font-weight: bold;
    color: #202124;
}
.submit-button button {
    background-color: #009D5B;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
}



