* {
    padding: 0;
    margin: 0;
}
header {
    text-align: center;
    padding-top: 20px;
}
header h2 {
    padding-top: 10px;
}
.all {
    border-radius: 50px;
    background-color:  #D9D9D9;
    margin: 30px 10% 3% 10%;
}
.c-all {
    padding-left: 20%;
    padding-top: 5%;
}
.c-all p {
    font-weight: bold;
    padding: 10px 0;
}
.c-all span {
    font-weight: normal;
    padding-left: 1%;
}
.button {
    display: flex;
    padding: 30px 20%;
}
.button input {
    display: block;
    margin: 0 auto;
}
#back-b {
    border: none;
    border-radius: 20px;
    background-color: #6c757d;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 450;
    width: 20%;
}
#submit-b {
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 450;
    width: 20%;
}
